---
- name: Create jenkins.yml Template
  template:
    src: jenkins.yml
    dest: /tmp/jenkins

- name: Copy Jenkins files to host/s (linux)
  copy:
    src: "{{JENKINS_VERSION}}"
    dest: /tmp/jenkins
  when: ansible_os_family != "Windows"

- name: Copy Jenkins files to host/s (windows)
  win_copy:
    src: "{{JENKINS_VERSION}}"
    dest: /tmp/jenkins
  when: ansible_os_family == "Windows"

- name: Build Jenkins CI Image in host/s (linux)
  docker_image:
    path: "/tmp/jenkins/{{JENKINS_VERSION}}"
    name: "devops/jenkins"
    nocache: true
    state: "present"
    rm: true
    buildargs:
      JENKINS_HOME: "{{JENKINS_HOME}}"
      HTTP_PORT: "{{HTTP_PORT}}"
      AGENT_PORT: "{{AGENT_PORT}}"
      EXECUTORS: "{{EXECUTORS}}"
      ROOT_PASS: "{{ROOT_PASS}}"
      ROOT_USER: "{{ROOT_USER}}"
      GIT_SEED: "{{GIT_SEED}}"
      JENKINS_OPTS: "{{JENKINS_OPTS}}"
      CASC_JENKINS_CONFIG: "{{CASC_JENKINS_CONFIG}}"
      JENKINS_URL: "{{JENKINS_URL}}"
      JENKINS_EMAIL: "{{JENKINS_EMAIL}}"
      JENKINS_SEEDER: "{{JENKINS_SEEDER}}"
      JENKINS_SSH_KEY: "{{JENKINS_SSH_KEY}}"
      JENKINS_SSH_NAME: "{{JENKINS_SSH_NAME}}"
      DOCKER_USER_NAME: "{{DOCKER_USER_NAME}}"
      DOCKER_USER_PASS: "{{DOCKER_USER_PASS}}"
    tag: "{{JENKINS_VERSION}}"
    force: true
    push: false
    pull: true
  when: ansible_os_family != "Windows"

- name: Build Jenkins CI Image in host/s (windows)
  win_shell: | 
    docker build -t devops/jenkins 
    --build-arg CASC_JENKINS_CONFIG="{{CASC_JENKINS_CONFIG}}" 
    /tmp/jenkins/{{JENKINS_VERSION}}/.
  when: ansible_os_family == "Windows"

- name: Jenkins Data Volume  (linux)
  docker_volume:
    name: jenkins_home
    state: present
  when: ansible_os_family != "Windows"

- name: Creates directory (linux)
  file:
    path: /var/lib/docker/volumes/jenkins_home/_data/
    state: directory
    owner: '1000'
    group: '1000'
    mode: 0775
  when: ansible_os_family != "Windows"

- name: Jenkins (linux)
  docker_container:
    name: "jenkins"
    user: "{{USER|default(omit)}}"
    image: devops/jenkins:{{JENKINS_VERSION}}
    pull: "false"
    recreate: "yes"
    state: "started"
    memory: "{{MEMORY|default(omit)}}"
    mac_address: "{{MAC_ADDRESS|default(omit)}}"
    env:
      TZ: "{{ TZ }}"
    restart_policy: "unless-stopped"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_home:{{JENKINS_HOME}}
  when: ansible_os_family != "Windows"

- name: Jenkins (windows)
  win_shell: |
    docker create --name jenkins -p {{HTTP_PORT}}:8080 devops/jenkins;
    docker start jenkins
  when: ansible_os_family == "Windows"