---
- name: Copy Jenkins files to host/s
  copy:
    src: "{{JENKINS_VERSION}}"
    dest: /tmp/jenkins

- name: Build Jenkins CI Image in host/s
  docker_image:
    path: "/tmp/jenkins/{{JENKINS_VERSION}}"
    name: "devops/jenkins"
    nocache: true
    state: "present"
    rm: true
    buildargs:
      JENKINS_HOME: "{{JENKINS_HOME}}"
      HTTP_PORT: "{{HTTP_PORT}}"
      AGENT_PORT: "{{AGENT_PORT}}"
      EXECUTORS: "{{EXECUTORS}}"
      ROOT_PASS: "{{ROOT_PASS}}"
      ROOT_USER: "{{ROOT_USER}}"
      GIT_SEED: "{{GIT_SEED}}"
      JENKINS_OPTS: "{{JENKINS_OPTS}}"
      CASC_JENKINS_CONFIG: "{{CASC_JENKINS_CONFIG}}"
      JENKINS_URL: "{{JENKINS_URL}}"
      JENKINS_EMAIL: "{{JENKINS_EMAIL}}"
      JENKINS_SEEDER: "{{JENKINS_SEEDER}}"
      JENKINS_SSH_KEY: "{{JENKINS_SSH_KEY}}"
      JENKINS_SSH_NAME: "{{JENKINS_SSH_NAME}}"
    tag: "{{JENKINS_VERSION}}"
    force: true
    push: false
    pull: true

- name: Jenkins Data Volume
  docker_volume:
    name: jenkins_home
    state: present

- name: Creates directory
  file:
    path: /var/lib/docker/volumes/jenkins_home/_data/
    state: directory
    owner: '1000'
    group: '1000'
    mode: 0775

- name: Jenkins
  docker_container:
    name: "jenkins"
    user: "{{USER|default(omit)}}"
    image: devops/jenkins:{{JENKINS_VERSION}}
    pull: "false"
    recreate: "yes"
    state: "started"
    memory: "{{MEMORY|default(omit)}}"
    mac_address: "{{MAC_ADDRESS|default(omit)}}"
    env:
      TZ: "{{ TZ }}"
    restart_policy: "unless-stopped"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_home:{{JENKINS_HOME}}